@define-color foreground #c2c5c6;
@define-color background #0c171c;
@define-color cursor #c2c5c6;

@define-color color0 #0c171c;
@define-color color1 #9B6231;
@define-color color2 #94735E;
@define-color color3 #D58A38;
@define-color color4 #B48665;
@define-color color5 #D69C63;
@define-color color6 #F0B368;
@define-color color7 #c2c5c6;
@define-color color8 #5b6a70;
@define-color color9 #9B6231;
@define-color color10 #94735E;
@define-color color11 #D58A38;
@define-color color12 #B48665;
@define-color color13 #D69C63;
@define-color color14 #F0B368;
@define-color color15 #c2c5c6;
