[Desktop Entry]
Name=Gestionnaire Bluetooth
Comment=Gestionnaire Bluetooth Blueman
Icon=blueman
Exec=blueman-manager
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Settings;HardwareSettings;
OnlyShowIn=XFCE;MATE;
NoDisplay=false
