[Desktop Entry]
Version=1.0
Name=Explorateur de serveur VNC Avahi
Comment=Explorer les serveurs VNC avec Zeroconf activé
Exec=/usr/bin/bvnc
Icon=network-wired
Terminal=false
Type=Application
Categories=GNOME;Network;
StartupNotify=false
NoDisplay=false
