[Desktop Entry]
Name=chat
Comment=Ouvrir ChatGPT dans le navigateur
Exec=xdg-open https://chat.openai.com/
Icon=chatgpt
Terminal=false
Type=Application
Categories=Utility; 