[Desktop Entry]
Name=GitHub
GenericName=GitHub
Comment=Ouvrir GitHub
Exec=xdg-open https://github.com/
Terminal=false
Type=Application
Categories=Network;WebBrowser;Development;
Keywords=github;git;code;développement;repository;
Icon=github
