[Desktop Entry]
Name=Obsidian
Comment=Knowledge base
GenericName=Note-taking app
Keywords=markdown;notes;knowledge;base;
Exec=obsidian %U
Icon=obsidian
Terminal=false
Type=Application
Categories=Office;TextEditor;Utility;
MimeType=text/markdown;text/x-markdown;
StartupWMClass=obsidian
