[Desktop Entry]
Version=1.0
Type=Application
Name=Syncthing Web
Comment=Open Syncthing web interface
Exec=brave http://localhost:8384/
Icon=syncthing
Terminal=false
Categories=Network;FileManager;
Keywords=sync;backup;files; 