[Desktop Entry]
Name=twitter
Comment=Ouvrir Twitter dans le navigateur
Exec=xdg-open https://twitter.com/
Icon=twitter
Terminal=false
Type=Application
Categories=Utility; 