/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #121e2c !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c3c6ca; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c3c6ca; background-color: rgba(164,103,134,0.4)}
.cm-s-nqqwal { background-color: #121e2c; color: #c3c6ca; }
.cm-s-nqqwal span.cm-builtin { color: #565D81; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #616b77; }
.cm-s-nqqwal span.cm-keyword { color: #665B82; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #4B6584; }
.cm-s-nqqwal span.cm-def { color: #6E6188; }
.cm-s-nqqwal span.cm-variable { color: #A46786; }
.cm-s-nqqwal span.cm-variable-2 { color: #6E6188; }
.cm-s-nqqwal span.cm-string { color: #565D81; }
.cm-s-nqqwal span.cm-string-2 { color: #565D81; }
.cm-s-nqqwal span.cm-number { color: #6E6188; }
.cm-s-nqqwal span.cm-tag { color: #665B82; }
.cm-s-nqqwal span.cm-property { color: #A46786; }
.cm-s-nqqwal span.cm-attribute { color: #A46786; }
.cm-s-nqqwal span.cm-qualifier { color: #4B6584; }
.cm-s-nqqwal span.cm-meta { color: #6E6188; }
.cm-s-nqqwal span.cm-header { color: #665B82; }
.cm-s-nqqwal span.cm-operator { color: #665B82; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(110,97,136,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #665B82; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #121e2c); }
