@define-color foreground #c3c6ca;
@define-color background #121e2c;
@define-color cursor #c3c6ca;

@define-color color0 #121e2c;
@define-color color1 #3F6683;
@define-color color2 #565D81;
@define-color color3 #665B82;
@define-color color4 #4B6584;
@define-color color5 #6E6188;
@define-color color6 #A46786;
@define-color color7 #c3c6ca;
@define-color color8 #616b77;
@define-color color9 #3F6683;
@define-color color10 #565D81;
@define-color color11 #665B82;
@define-color color12 #4B6584;
@define-color color13 #6E6188;
@define-color color14 #A46786;
@define-color color15 #c3c6ca;
