@define-color foreground #c5c1c5;
@define-color background #190a19;
@define-color cursor #c5c1c5;

@define-color color0 #190a19;
@define-color color1 #B04E74;
@define-color color2 #DB576E;
@define-color color3 #3C6D8A;
@define-color color4 #6E4787;
@define-color color5 #614883;
@define-color color6 #955089;
@define-color color7 #c5c1c5;
@define-color color8 #6e596e;
@define-color color9 #B04E74;
@define-color color10 #DB576E;
@define-color color11 #3C6D8A;
@define-color color12 #6E4787;
@define-color color13 #614883;
@define-color color14 #955089;
@define-color color15 #c5c1c5;
