@define-color foreground #cccdcb;
@define-color background #353931;
@define-color cursor #cccdcb;

@define-color color0 #353931;
@define-color color1 #A69E9C;
@define-color color2 #D3D4A3;
@define-color color3 #BBBBC2;
@define-color color4 #9CADE6;
@define-color color5 #DEB2D9;
@define-color color6 #D9D7E3;
@define-color color7 #cccdcb;
@define-color color8 #79876f;
@define-color color9 #A69E9C;
@define-color color10 #D3D4A3;
@define-color color11 #BBBBC2;
@define-color color12 #9CADE6;
@define-color color13 #DEB2D9;
@define-color color14 #D9D7E3;
@define-color color15 #cccdcb;
