@define-color foreground #c4c6ca;
@define-color background #141d2e;
@define-color cursor #c4c6ca;

@define-color color0 #141d2e;
@define-color color1 #A23B30;
@define-color color2 #E56537;
@define-color color3 #A35455;
@define-color color4 #DB694C;
@define-color color5 #F49E51;
@define-color color6 #F7A748;
@define-color color7 #c4c6ca;
@define-color color8 #636b79;
@define-color color9 #A23B30;
@define-color color10 #E56537;
@define-color color11 #A35455;
@define-color color12 #DB694C;
@define-color color13 #F49E51;
@define-color color14 #F7A748;
@define-color color15 #c4c6ca;
