/* Couleurs générées par pywal pour Wofi */

:root {
  --wofi-color0: #141d2e;
  --wofi-color1: #A23B30;
  --wofi-color2: #E56537;
  --wofi-color3: #A35455;
  --wofi-color4: #DB694C;
  --wofi-color5: #F49E51;
  --wofi-color6: #F7A748;
  --wofi-color7: #c4c6ca;
  --wofi-color8: #636b79;
  --wofi-color9: #A23B30;
  --wofi-color10: #E56537;
  --wofi-color11: #A35455;
  --wofi-color12: #DB694C;
  --wofi-color13: #F49E51;
  --wofi-color14: #F7A748;
  --wofi-color15: #c4c6ca;

  --wofi-rgb-color0: 20, 29, 46;
  --wofi-rgb-color1: 162, 59, 48;
  --wofi-rgb-color2: 229, 101, 55;
  --wofi-rgb-color3: 163, 84, 85;
  --wofi-rgb-color4: 219, 105, 76;
  --wofi-rgb-color5: 244, 158, 81;
  --wofi-rgb-color6: 247, 167, 72;
  --wofi-rgb-color7: 196, 198, 202;
  --wofi-rgb-color8: 99, 107, 121;
  --wofi-rgb-color9: 162, 59, 48;
  --wofi-rgb-color10: 229, 101, 55;
  --wofi-rgb-color11: 163, 84, 85;
  --wofi-rgb-color12: 219, 105, 76;
  --wofi-rgb-color13: 244, 158, 81;
  --wofi-rgb-color14: 247, 167, 72;
  --wofi-rgb-color15: 196, 198, 202;
}
