@import url("/home/sabi/.config/wlogout/colors.css");

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0, 0, 0, 0.35);
	background-image: url("/home/sabi/.cache/wlogout_wallpaper_blur.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

button {
	border: none;
	border-radius: 12px;
	color: @text-color;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center 30%;
	background-size: 55px;
	min-width: 90px;
	min-height: 90px;
	padding: 10px 16px;
	margin: 6px;
	text-shadow: none;
	font-size: 0.75rem;
	transition: background-color 0.25s ease, color 0.25s ease;
}

button:focus, button:active, button:hover {
	border: none;
	outline: none;
}

button label {
	color: inherit;
	margin-top: 45px;
}

button:hover {
	background-color: alpha(@accent-color, 0.35);
	color: @strong-text;
}

button:hover label {
	color: inherit;
}

button:focus, button:active {
	background-color: alpha(@accent-color, 0.45);
	color: @strong-text;
}

#lock {
	background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
	background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
	background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
	background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#reboot {
	background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

#shutdown {
	background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}
