@define-color background {background.hex};
@define-color foreground {foreground.hex};
@define-color color0 {colors.0.hex};
@define-color color1 {colors.1.hex};
@define-color color2 {colors.2.hex};
@define-color color3 {colors.3.hex};
@define-color color4 {colors.4.hex};
@define-color color5 {colors.5.hex};
@define-color color6 {colors.6.hex};
@define-color color7 {colors.7.hex};
@define-color color8 {colors.8.hex};
@define-color color9 {colors.9.hex};
@define-color color10 {colors.10.hex};
@define-color color11 {colors.11.hex};
@define-color color12 {colors.12.hex};
@define-color color13 {colors.13.hex};
@define-color color14 {colors.14.hex};
@define-color color15 {colors.15.hex};
