/* Overrides SwayNC exacts, version utilisateur */
.control-center {
  background: @color0;
  color: @color7;
  border-radius: 12px;
}
.notification-row .notification-background .notification {
  background: @color0;
  border: 1px solid @color1;
  color: @color7;
  border-radius: 12px;
}
.floating-notifications {
  background: transparent;
}
.blank-window {
  background: transparent;
}

/* Hover sur les boutons du buttons-grid */
.buttons-grid button:hover {
  background: @color4;
  color: @color15;
}
